[package]
name = "asc-contract"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
hex = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
sha2 = { workspace = true }
